[project]
	description = The official Wikipedia Android app. This is a mirror from https://gerrit.wikimedia.org.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/krimokrimo007
[access "refs/for/refs/*"]
	read = group user/krimokrimo007
	push = group user/krimokrimo007
	label-Code-Review = -2..+2 group user/krimokrimo007
	label-Verified = -1..+1 group user/krimokrimo007
	rebase = group user/krimokrimo007
	removeReviewer = group user/krimokrimo007
	submit = group user/krimokrimo007
[access "refs/heads/*"]
	read = group user/krimokrimo007
	create = group user/krimokrimo007
	push = +force group user/krimokrimo007
	pushMerge = group user/krimokrimo007
[access "refs/tags/*"]
	push = group user/krimokrimo007
	push = +force group user/krimokrimo007
